# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.local

# Database
*.sqlite3

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# IDE settings
.vscode/
.idea/